# IMPORTANT: Copy this file to .env.local and fill in your actual values
# DO NOT commit .env.local to version control

NODE_ENV="development"
PRISMA_URL="postgresql://username:password@localhost:5432/athletica"
PORT=3000
JWT_SECRET="your-secure-random-jwt-secret-here-minimum-32-chars"
SALT_ROUNDS=10
JWT_EXPIRES_IN=7d
CLIENT_INVITE_LINK_BASE_URL="http://localhost:3000/api/v1/auth/register/client"
FRONTEND_URL="http://localhost:3000"
